<ion-view view-title="Chat">
  <ion-content>
    <h1>Browse</h1>
	<div class="list card">

	  <div class="item item-avatar">
		<img src="img/ionic.png">
		<h2>Marty McFly</h2>
		<p>November 05, 1955</p>
		<p>hey whats good</p>
	  </div>
	</div>

  </ion-content>
<ion-footer-bar  class="bar-assertive">
<div class="bar bar-footer item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-android-mail placeholder-icon"></i>
    <input type="text" id="txtmsg" placeholder="Type a message">
  </label>
  <button class="button button-small">
    Send
  </button>
</div>

  <!--<div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Email">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>-->

</ion-footer-bar>
</ion-view>
