<ion-view view-title="KCOBA">
  <ion-content style="background-color:#fff; display:block">
  <!--  -->
<div >
	<div class="row" style="background-color:#F7F9F9">
		<img src="img/banner.jpg" class="title-image" id="fprofilepic" alt="No Profile Picture" style="margin: 10px; border-radius:5%; width:100%; height:30%; " align="center" />
	</div>
	
<!--
	<div style="padding-bottom:5%;padding-left:5%;padding-right:5%;padding-top:6%">
		<div class="row" style="padding-bottom:0px" align="center" >
			<div class="col removePadding"  align="center"  ><a href="#/app/playlists" class="button button-block button-positive"><br/> <i class="icon ion-ios-world custom-icon" ></i><br/><b style="font-size:3vw">Newsfeed</b><br/></a></div>
			<div class="col removePadding"  align="center"  ><a href="#/app/directory" class="button button-block button-positive"> <br/><i class="icon ion-ios-people custom-icon"></i><br/><b style="font-size:3vw">Directory</b></a><br/></div>
			<div class="col removePadding"  align="center" ><a href="#/app/services" class="button button-block button-positive"><br/> <i class="icon ion-settings custom-icon"></i><br/><b style="font-size:3vw"> Services</b></a><br/></div> -->
		</div>
<!--
		<div class="row"  align="center" style="padding-top:1%">
			<div class="col"  align="center" ><a href="#/app/chats" class="button button-block button-positive"> <br/><i class="icon ion-ios-chatboxes custom-icon"></i><br/> <b style="font-size:3vw">Chat</b></a><br/></div>
			<div class="col"  align="center" ><a href="#/app/feedback" class="button button-block button-positive"> <br/><i class="icon ion-android-mail custom-icon"></i><br/><b style="font-size:3vw"> Feedback</b></a><br/></div>
			<div class="col"  align="center"><a href="#/app/payments" class="button button-block button-positive" > <br/><i class="icon ion-cash custom-icon"></i><br/><b style="font-size:3vw">Payments</b></a><br/></div> 
		</div>

		-->
	</div>
	<!-- Edit-->

	
<div class="card">
     <a href="#/app/directory">
       <button type="button" class="btn btn-success btn-block">
      <span class="glyphicon glyphicon-folder-open"></span>   <h5 style="color:#fff; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Directory</h5>
            
        </button>                     
       </a>
     
      </div>

<div class="card">
<a href="http://162.144.253.91/kcoba/mobilelogin.aspx">
  <button type="button" class="btn btn-block" style="background-color:#00C853;">
    
      <span class="glyphicon glyphicon-credit-card"></span> <!-- class="fa fa-credit-card -->
          <h5 style="color:#fff; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Payments</h5>
     
  </button>
  </a>                    
</div>

  <div class="card">
  <a href="#/app/playlists">
  <button type="button" class="btn btn-danger btn-block">
		
          <span class="fa fa-rss fa-2x"></span>
             <h5 style="color:#fff; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">News feed</h5>             
        
        </button>
        </a>
      </div>


	

      <div class="card">
      <a href="#/app/services">
      <button type="button" class="btn btn-info btn-block">
		    
          <span class="glyphicon glyphicon-calendar"></span>
             <h5 style="color:#fff; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Services</h5>                     
         
        </button>
        </a>
      </div>


   <div class="card">
   <a href="#/app/feedback">
   <button type="button" class="btn btn-warning btn-block">
    
          <span class="glyphicon glyphicon-envelope"></span>
             <h5 style="color:#fff; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
             Feedback</h5>     
            
        </button>
         </a>
      </div>


  <div class="card">
  <a href="#/app/chats">
  <button type="button" class="btn btn-primary btn-block">
		
          <span class="glyphicon glyphicon-comment"></span>
             <h5 style="color:#ffffff; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
             Chat</h5>                     
         
    
      </button>
      </a>
      </div>

    

        <!-- social II -->
           <div class="container"> 
                <ul class="list-inline social-buttons" align="center">
                    <li style="margin-right:10px; color:#1A237E;">
                    <a href="https://twitter.com/KCOBA"><i class="fa fa-twitter"></i></a></li>
                    <li style="color:#1A237E;">
                    <a href="https://www.facebook.com/kingscollegeoldboysassociation/"><i class="fa fa-facebook"></i></a></li>
                    <li style="margin:10px; color:#1A237E;">
                    <a href="https://www.instagram.com/kcoba_worldwide/?hl=en"><i class="fa fa-instagram"></i></a></li>
                </ul>
          </div>



        <!-- ii -->
    

   
<!-- Edit -->

<div >
  <center>
      <img src="img/kcobafloreat.png"   alt="floreats" style="border-radius:5%; width:50%; height:10%;"  />
  </center>
  </div>
  </ion-content>
  

</ion-view>
