<ion-view view-title="KCOBA">
  <ion-content style="background-color:#000000;background-image:url('./img/bg.jpg'); display:block">
<div >
	<div class="row" style="background-color:#F7F9F9">
		<img src="img/banner.png" class="title-image" id="fprofilepic" alt="No Profile Picture" width="100%" height="30%" align="center" />
	</div>
	
<!--
	<div style="padding-bottom:5%;padding-left:5%;padding-right:5%;padding-top:6%">
		<div class="row" style="padding-bottom:0px" align="center" >
			<div class="col removePadding"  align="center"  ><a href="#/app/playlists" class="button button-block button-positive"><br/> <i class="icon ion-ios-world custom-icon" ></i><br/><b style="font-size:3vw">Newsfeed</b><br/></a></div>
			<div class="col removePadding"  align="center"  ><a href="#/app/directory" class="button button-block button-positive"> <br/><i class="icon ion-ios-people custom-icon"></i><br/><b style="font-size:3vw">Directory</b></a><br/></div>
			<div class="col removePadding"  align="center" ><a href="#/app/services" class="button button-block button-positive"><br/> <i class="icon ion-settings custom-icon"></i><br/><b style="font-size:3vw"> Services</b></a><br/></div> -->
		</div>
<!--
		<div class="row"  align="center" style="padding-top:1%">
			<div class="col"  align="center" ><a href="#/app/chats" class="button button-block button-positive"> <br/><i class="icon ion-ios-chatboxes custom-icon"></i><br/> <b style="font-size:3vw">Chat</b></a><br/></div>
			<div class="col"  align="center" ><a href="#/app/feedback" class="button button-block button-positive"> <br/><i class="icon ion-android-mail custom-icon"></i><br/><b style="font-size:3vw"> Feedback</b></a><br/></div>
			<div class="col"  align="center"><a href="#/app/payments" class="button button-block button-positive" > <br/><i class="icon ion-cash custom-icon"></i><br/><b style="font-size:3vw">Payments</b></a><br/></div> 
		</div>

		-->
	</div>
	<!-- Edit-->

	<div class="list card">
		<a href="#/app/playlists" class="button button-block button-positive">
          <div class="item item-avatar">
              <img ng-src="img/newsglobe.jpg">
             <h2>Newsfeed</h2>                     
          </div>
        </a>
      </div>


	<div class="list card">
		<a href="#/app/directory" class="button button-block button-positive">
          <div class="item item-avatar">
              <img ng-src="img/addressbook-search.png">
             <h2>Directory</h2>                     
          </div>
        </a>
      </div>

      <div class="list card">
		<a href="#/app/services" class="button button-block button-positive">
          <div class="item item-avatar">
              <img ng-src="img/services1.png">
             <h2>Services</h2>                     
          </div>
        </a>
      </div>

      <div class="list card">
		<a href="#/app/chats" class="button button-block button-positive">
          <div class="item item-avatar">
              <img ng-src="img/chat.png">
             <h2>Chat</h2>                     
          </div>
        </a>
      </div>

      <div class="list card">
		<a href="#/app/payments" class="button button-block button-positive">
          <div class="item item-avatar">
              <img ng-src="img/payment1.png">
             <h2>Payment</h2>                     
          </div>
        </a>
      </div>

      <div class="list card">
		<a href="#/app/feedback" class="button button-block button-positive">
          <div class="item item-avatar">
              <img ng-src="img/petition_icon.png">
             <h2>Feedback</h2>                     
          </div>
        </a>
      </div>
<!-- Edit -->


  </ion-content>
  

</ion-view>
